.App {
  width: 100%;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  margin-bottom: 10px;
}

.App-header {
  background-color: #4d0000;
  height: 130px;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.huge-center{
  position: absolute;
  right: 290px;
  top: 170px;
  @media(max-width: 768px) {
    top: 150px;
    right: 0;
  }
}

input[type='search'] {
  max-width: 400px;
  widows: 100%;
}

.fixed-pos {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 40px;
  z-index: 2;
}

.main-body {
  padding-top: 150px;
}

.alert.alert-secondary, .alert.alert-success {
  border-radius: 0;
}